root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.gd]
indent_style = tab
indent_size = 4

[*.{cpp,hpp,h,py}]
indent_style = space
indent_size = 4

[*.{json,md,godot,gdextension}]
indent_style = space
indent_size = 2

[SConstruct]
indent_style = space
indent_size = 4
